<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true" stopOnFailure="false">
    <php>
        <ini name="date.timezone" value="UTC" />
    </php>
    <testsuites>
        <testsuite name="OLCS XmlTools">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-html"
            target="./coverage-report"
            lowUpperBound="50"
            highLowerBound="80"
        />
    </logging>
</phpunit>
